body {
    background-color: #ECF0F1;
    font-family: 'Nanum Gothic', sans-serif;
}

h3{
    font-family: 'Nanum Gothic', sans-serif;
}

#title{
    padding: 10px;
    background-color: #374047;
    color: white;
}

#navbar {
    background-color: white;
    position: sticky; 
    top: 0; 
    z-index: 1;
}

#navbar li a {
    font-size: 1.0em;
    font-family: 'Nanum Gothic', sans-serif;
    color: #2F79C3;
}


#btn{
    background-color: #374047;
    color: white;
}

#submitBtn{
    margin: 10px 40px 0 0;
}

#NMFimg{
    text-align: center;
}

#NMFimg img{
    width: 70%;
}

#Progress_Loading {
    text-align: center;
}

.tab {
    margin: 0 10px 0 10px;
}

.tabcontent {
    display: none;
}

.tabcontent.current {
    display: block;
}

.table_result .table_result td, .table_result th{
    text-align: center;

}

.table_result th{
    color: #585858 !important;
    font-size: 1.0em;
    font-weight: bold;
}

.table_result td{
    font-size: 0.9em;
}

.input_label{
    margin: 0 0 4px 0;
}

